root {
    --figura: #333333;
    --fondo: #E62C29;
    /* ¿Qué valor de contrast-ratio está utilizando? Revise en https://contrast-ratio.com/ */
}

* {
    margin: 0;
    padding: 0;
    transition: color ease 0.5s;
}
body {
    font-family: "DM Sans", sans-serif;
    color: var(--figura);
    background: var(--fondo);
    line-height: 1.25;
}
a {
    color: #666;
    margin-right: 3vw;
}
a:hover {
    color: #000;
}
header, main, footer {
    width: 86vw;
    margin: 0;
    padding: 5vh 7vw;
}
header h1 {
    font-size: calc(2rem + 1vw);
}
main p{
    font-size: calc(1rem + 1vw);
}
footer {
    position: absolute;
    bottom: 0;
    text-align: right;
